@page "/"

<PageTitle>Início</PageTitle>

<MudCarousel Class="mud-width-full" Style="height: 500px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition">
        <div class="d-flex justify-center align-center" style="height: 100%;">
            <MudImage Src="rivais.png" Alt="Imagem do Carousel" Style="max-width: 100%; height: auto; max-height: 500px;" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <div class="d-flex justify-center align-center" style="height: 100%;">
            <MudImage Src="yugioh-banner.png" Alt="Imagem do Carousel" Style="max-width: 100%; height: auto; max-height: 500px;" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <div class="d-flex justify-center align-center" style="height: 100%;">
            <MudImage Src="one-piece-tcg.png" Alt="Imagem do Carousel" Style="max-width: 100%; height: auto; max-height: 500px;" />
        </div>
    </MudCarouselItem>
</MudCarousel>

@code {
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}